<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    {{ Model.ContentItem.DisplayText }}
    <small>
        {{ "By" | t }} <a href="#">{{ Model.ContentItem.Owner }}</a>
    </small>
</h1>

<div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ Model.ContentItem.Content.BlogPost.Image.Paths.first | asset_url }}" alt="">

        <hr>

        <!-- Date/Time -->
        <p>
            {% assign format = "MMMM dd, yyyy" | t %}
            {% assign dateTime = "DateTime" | shape_new: utc: Model.ContentItem.CreatedUtc, format: format | shape_stringify %}
            {{ "Posted " | t }} {{ "on {0}" | t: dateTime | raw }}
        </p>

        <hr>

        <!-- Post Content -->
        <p>
            {{ Model.Content.ContentsMetadata | shape_render }}
            {{ Model.Content.MarkdownBodyPart | shape_render }}
        </p>

        <hr>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-lg-4">

    </div>
</div>
